<div class="container"> 
  <div class="align-content-center">
    <div class="row">
      <ng-container>
        <div class="w-100">
          <ngx-breadcrumb [breadcrumb]="breadcrumb"></ngx-breadcrumb>
        </div>

        <div class="organizer-container w-50">
          <p>Estrutura</p>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Nome no Plural</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of structureList">
                <ng-template [ngTemplateOutlet]="renderItemStructure" [ngTemplateOutletContext]="{ item: item, parent: null }"></ng-template>
              </ng-container>
            </tbody>
          </table>
        
          <ng-template #renderItemStructure let-item="item" let-parent="parent" let-level="level">
            <tr [class.has-children]="item.children && item.children.length" [ngClass]="'child-level-' + level" class="first-item">
              <td>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="item.structureName"
                  placeholder="Nome"
                  [disabled]="!item.editable"
                  [class.is-invalid]="item.editable && !item.structureName"
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="item.namePlural"
                  placeholder="Nome no Plural"
                  [disabled]="!item.editable"
                  [class.is-invalid]="item.editable && !item.namePlural"
                />
              </td>
            </tr>
          
            <tr *ngIf="item.children && item.children.length">
              <td colspan="2" class="sub-item no-top-border">
                <table class="table table-striped">
                  <tbody>
                    <ng-container *ngFor="let child of item.children">
                      <ng-template [ngTemplateOutlet]="renderItemStructure" [ngTemplateOutletContext]="{ item: child, parent: item.children, level: (level || 0) + 1 }"></ng-template>
                    </ng-container>
                  </tbody>
                </table>
              </td>
            </tr>
          </ng-template>
        </div>

        <div class="organizer-container">
          <p>Organizador</p>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Estrutura</th>
                <th>Ícone</th>
                <th>Ação</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="text" class="form-control" [(ngModel)]="newItem.name" placeholder="Nome"/></td>
                <td><input type="textArea" class="form-control" [(ngModel)]="newItem.description" placeholder="Descrição" /></td>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="newItem.structureName" [disabled]="true" placeholder="Sem Estrutura" />
                </td>
                <td>
                  <select class="form-control" [(ngModel)]="newItem.icon">
                    <option value="">Selecionar</option>
                    <option [ngValue]="null">Sem Ícone</option>
                    <option *ngFor="let icon of iconList" [value]="icon">{{ icon }}</option>
                  </select>
                </td>
                <td class="text-center">
                  <button class="btn btn-success btn-sm" (click)="addNewItem()">
                    <i class="fa fa-plus"></i>
                  </button>
                </td>
              </tr>
              <ng-container *ngFor="let item of organizerList">
                <ng-template [ngTemplateOutlet]="renderItem" [ngTemplateOutletContext]="{ item: item, parent: null }"></ng-template>
              </ng-container>
            </tbody>
          </table>
          <ng-template #renderItem let-item="item" let-parent="parent" let-level="level">
            <tr [class.has-children]="item.children && item.children.length" [ngClass]="'child-level-' + level" class="first-item">
              <td>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="item.name"
                  placeholder="Nome"
                  [disabled]="!item.editable"
                  [class.is-invalid]="item.editable && !item.name" />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="item.description"
                  placeholder="Descrição"
                  [disabled]="!item.editable"
                  [class.is-invalid]="item.editable && !item.description" />
              </td>
              <td>
                <input
                type="text"
                class="form-control"
                [(ngModel)]="item.structureName"
                [disabled]="true" />
              </td>
              <td>
                <select class="form-control" [(ngModel)]="item.icon" [disabled]="!item.editable">
                  <option value="">Selecionar</option>
                  <option [ngValue]="null">Sem Ícone</option>
                  <option *ngFor="let icon of iconList" [value]="icon">{{ icon }}</option>
                </select>
              </td>
              <td class="text-center"> 
                <button
                  class="btn btn-primary btn-sm"
                  (click)="toggleEditable(item)"
                  [title]="item.editable ? 'Salvar' : 'Editar'">
                  <i class="fa" [ngClass]="item.editable ? 'fa-check' : 'fa-pencil-alt'"></i> 
                </button>
                <button
                  class="btn btn-danger btn-sm"
                  (click)="deleteItem(parent || organizerList, item)"
                  title="Excluir">
                  <i class="fa fa-trash"></i> 
                </button>
        
                <button
                  *ngIf="hasChildren(item.structureName)"
                  class="btn btn-success btn-sm"
                  (click)="addChild(item)"
                  title="Adicionar Subitem"
                >
                  <i class="fa fa-plus-circle"></i>
                </button>
              </td>
            </tr>
            <tr *ngIf="item.children && item.children.length">
              <td colspan="5" class="sub-item no-top-border">
                <table class="table table-striped">
                  <tbody>
                    <ng-container *ngFor="let child of item.children">
                      <ng-template [ngTemplateOutlet]="renderItem" [ngTemplateOutletContext]="{ item: child, parent: item.children, level: (level || 0) + 1 }"></ng-template>
                    </ng-container>
                  </tbody>
                </table>
              </td>
            </tr>
          </ng-template>
          <div class="form-actions">
            <button
              type="button"
              class="btn btn-danger"
              (click)="onCancel()"
            >
              Cancelar
            </button>
            <button class="btn btn-primary" (click)="saveItems()">Salvar</button>
          </div>
        </div> 
      </ng-container> 
    </div>
  </div>
</div>
