<div class="container">
  <div class="align-content-center">
    <div class="row">
      <ng-container>
        <ngx-breadcrumb [breadcrumb]="breadcrumb"></ngx-breadcrumb>
        <div class="col-md-12 col-lg-12 col-xxxl-12">
          <p>Cadastrar</p>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-container">
              <div class="row mb-3">

                <div class="col-md-6">
                  <label for="name" class="form-label">Nome</label>
                  <input
                    type="text"
                    id="name"
                    class="form-control"
                    formControlName="name"
                    [class.is-invalid]="form.get('name')?.invalid && submitted"
                    placeholder="Digite o nome"
                  />
                  <div *ngIf="form.get('name')?.invalid && submitted" class="error-message">
                    Nome é obrigatório.
                  </div>
                </div>

                <div class="col-md-6">
                  <label for="unit" class="form-label">Unidade de Medida</label>
                  <nb-select
                    formControlName="unit"
                    placeholder="Selecione uma unidade" 
                    class="w-100 d-block"
                    [class.is-invalid]="form.get('unit')?.invalid && submitted"
                  >
                    <nb-option *ngFor="let unit of units" [value]="unit">{{ unit }}</nb-option>
                    <nb-option value="other">Outra</nb-option>
                  </nb-select>
                  <input
                  *ngIf="form.get('unit')?.value === 'other'"
                  type="text"
                  class="form-control mt-2"
                  placeholder="Digite a unidade"
                  formControlName="customUnit"
                  />
                  <div *ngIf="form.get('unit')?.invalid && submitted" class="error-message">
                    Selecione uma unidade ou digite uma nova.
                  </div>
                </div>

                <div class="col-md-6 mt-3">
                  <label for="polarity" class="form-label">Polaridade</label>
                  <nb-select
                    formControlName="polarity"
                    placeholder="Selecione uma polaridade" 
                    class="w-100 d-block"
                    [class.is-invalid]="form.get('polarity')?.invalid && submitted"
                  >
                    <nb-option value="positive">Positiva</nb-option>
                    <nb-option value="negative">Negativa</nb-option>
                  </nb-select>
                  <div *ngIf="form.get('polarity')?.invalid && submitted" class="error-message">
                    A polaridade é obrigatória.
                  </div>
                </div>
              </div>
            </div>
              
            <div class="form-container">
              <div class="row mb-3">
                 <!-- Select para escolher a gestão -->
                 <div class="col-md-6">
                  <label for="management" class="form-label">Gestão</label>
                  <nb-select
                    placeholder="Selecione uma ou mais gestões"
                    formControlName="management"
                    [multiple]="true"
                    class="w-100 d-block"
                    [class.is-invalid]="form.get('management')?.invalid && submitted"
                  >
                    <nb-option *ngFor="let management of challengeList" [value]="management.managementName">
                      {{ management.managementName }}
                    </nb-option>
                  </nb-select>
                  <div *ngIf="form.get('management')?.invalid && submitted" class="error-message">
                    Selecione uma gestão.
                  </div>
                </div>

                <div class="col-md-6">
                  <label for="challenges" class="form-label">Desafio</label>
                  <nb-select 
                    placeholder="Selecione um ou mais desafios"
                    formControlName="challenges" 
                    [multiple]="true"
                    class="w-100 d-block"
                    [class.is-invalid]="form.get('challenges')?.invalid && submitted"
                  >
                    <nb-option-group *ngFor="let organizer of filteredOrganizers" [title]="organizer.name" class="custom-header">
                      <nb-option 
                        *ngFor="let challenge of organizer.challenges"
                        [value]="challenge.id"
                        class="custom-option"
                      >
                        <div class="w-100">
                          <strong>{{ challenge.name }}</strong>
                        </div>
                      </nb-option>
                    </nb-option-group>
                  </nb-select>
                  <div *ngIf="form.get('challenges')?.invalid && submitted" class="error-message">
                    Selecione um desafio.
                  </div>
                </div>

                <div class="col-md-12 mt-3" *ngIf="challengesOrgans.controls.length">
                  <div class="row">
                    <div class="col-md-6">
                      <label class="form-label">Desafio</label>
                    </div>
                    <div class="col-md-6">
                      <label class="form-label">Órgão</label>
                    </div>
                    <ng-container *ngFor="let control of challengesOrgans.controls">
                    <div class="col-md-6 mb-2">
                      <input
                        type="text"
                        class="form-control"
                        [value]="getChallengeNameById(control.get('challengeId')?.value)"
                        readonly
                      />
                    </div>
                    <div class="col-md-6 mb-2">
                      <nb-select
                        placeholder="Selecione um órgão"
                        class="w-100 d-block"
                        [formControl]="control.get('organ')"
                        [class.is-invalid]="control.get('organ')?.invalid && submitted"
                      >
                        <nb-option *ngFor="let organ of organizationAcronyms" [value]="organ">
                          {{ organ }}
                        </nb-option>
                      </nb-select>
                      <div *ngIf="control.get('organ')?.invalid && submitted" class="error-message">
                        Selecione um órgão.
                      </div>
                    </div>
                  </ng-container>
                  </div>
                </div>



              </div>

              <div class="form-actions text-center mt-4">
                <button type="button" class="btn btn-danger" (click)="onCancel()">Cancelar</button>
                <button type="submit" class="btn btn-primary">Salvar</button>
              </div>
            </div>
          </form>
        </div>
      </ng-container>
    </div>
  </div>
</div>
