/* Bordas arredondadas e layout responsivo */
.container {
    max-width: 100%;
  }

  button[ngbDropdownToggle]::after {
    display: none;
  }
  
  
  .management-card {
    border-left: 4px solid #0098DA; 
    border-right: none; 
    border-top: 1px solid #0098DA; 
    border-bottom: 1px solid #0098DA; 
    border-radius: 5px 0 0 5px; 
    padding: 15px;
    margin-bottom: 10px;
  }

  .card-create-icon{
    i{
      color: #0098DA;
      width: 30px;
    }
  }
  
  .card-create-icon i {
    font-size: 2.5em;
    cursor: pointer;
    line-height: 1.1;
  }

  .button-color:focus{
    box-shadow: none;
  }
  
  .fw-bold, .button-color {
    color: #0098DA;
  }
  
  span {
    line-height: 1.5; 
  }
  
  .text-danger {
    color: red; 
  }
  
  .text-success {
    color: green; 
  }

  .dropdown-menu {
    min-width: auto; 
  }
  
  .dropdown-menu-end {
    right: 0;
    left: auto;
  }

  .menu-icon {
    background-color: #EDF1F7;
  }
  .menu-icon:hover {
    background-color: #E4E9F2; 
    cursor: pointer;
  }
  
  @media (max-width: 991px) {
    .row {
      margin-bottom: 15px; 
    }
    
    .text-end {
      text-align: left; 
    }
  }

form {
  display: flex;
  flex-direction: column;
  border: 1px solid #0098DA; 
  border-radius: 5px; 
  padding: 20px; 
  margin: 20px auto; 
}

p {
  text-align: left;
  font-weight: bold;
  margin-bottom: 20px;
  color: #0098DA;
}

.form-label {
  font-weight: bold;
  color: #0098DA; /* Azul escuro */
}

.form-control {
  border-radius: 4px;
  border: 1px solid #cfd8e3;
  box-shadow: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus {
  border-color: #0098DA; /* Azul */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra azul ao focar */
}

.row {
  margin-bottom: 15px;
}


.btn-secondary {
  background-color: #dc3545; /* Vermelho */
  border-color: #dc3545;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-sm{
  padding: 0.1rem;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;

}

.btn-primary {
  color: green !important;

  i{
    font-size: 20px;
  }
}

.btn-warning{
  color: #027AD9 !important;

  i{
    font-size: 20px;
  }
}

.btn-danger{
  color: red !important;

  i{
    font-size: 20px;
  }
}

.d-flex.justify-content-end {
  margin-top: 20px; 
}

  
.organizer-card {
  border-left: 4px solid #0098DA; 
  border-right: none; 
  border-top: 1px solid #0098DA; 
  border-bottom: 1px solid #0098DA; 
  border-radius: 5px 0 0 5px; 
  padding: 15px;
  margin-bottom: 10px !important;
}

.challenge-card {
  border-left: 4px solid #0098DA; 
  border-right: none; 
  border-top: 1px solid #0098DA; 
  border-bottom: 1px solid #0098DA; 
  border-radius: 5px 0 0 5px; 
  padding: 15px;
  margin-bottom: 10px !important;
}

.children-card {
  padding-left: 15px;
  margin-bottom: 10px !important;
}

.invisible-child {
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
}

.btn {
  outline: none;
  box-shadow: none;
}

.tooltip-container {
  position: relative;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  
  bottom: 120%; 
  left: 50%;
  transform: translateX(-50%);
  
  transition: opacity 0.3s ease-in-out;
  
  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}



