<div class="container">
  <div class="align-content-center">
    <div class="row">
      <ng-container>
        <ngx-breadcrumb [breadcrumb]="breadcrumb"></ngx-breadcrumb>
        <div class="col-md-12 col-lg-12 col-xxxl-12">
          <p>Editar Organizador</p>
          <div class="form-container">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="name" class="form-label">Nome</label>
                  <input
                    type="text"
                    id="name"
                    class="form-control"
                    formControlName="name"
                    [class.is-invalid]="form.get('name')?.invalid && (form.get('name')?.touched || submitted)"
                    placeholder="Digite o nome"
                  />
                  <div
                    *ngIf="form.get('name')?.invalid && (form.get('name')?.touched || submitted)"
                    class="error-message"
                  >
                    Nome é obrigatório.
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="icon" class="form-label">Ícone</label>
                  <select
                    id="icon"
                    class="form-control"
                    formControlName="icon"
                  >
                    <option *ngFor="let icon of iconList" [value]="icon">{{ icon }}</option>
                  </select>
                </div>

                <div class="col-md-12 mt-3">
                  <label for="description" class="form-label">Descrição</label>
                  <textarea
                    id="description"
                    class="form-control"
                    formControlName="description"
                    [class.is-invalid]="form.get('description')?.invalid && (form.get('description')?.touched || submitted)"
                    placeholder="Digite a descrição"
                    rows="4"
                  ></textarea>
                  <div
                    *ngIf="form.get('description')?.invalid && (form.get('description')?.touched || submitted)"
                    class="error-message"
                  >
                    Descrição é obrigatória.
                  </div>
                </div>
              </div>

              <!-- Botões Salvar e Cancelar dentro do formulário -->
              <div class="form-actions text-center mt-4">
                <button type="button" class="btn btn-danger" (click)="onCancel()">Cancelar</button>
                <button type="submit" class="btn btn-primary">Salvar</button>
              </div>

            </form>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
