<div class="container">
  <div class="align-content-center">
    <div class="row">
      <ng-container>
        <div class="col-md-12 col-lg-7 col-xxxl-7" *ngIf="odsData">
          <img class="logo-ODS" src="assets/images/app/logo-ODS.png" alt="">
          <div>Objetivo {{odsData.order}}</div>
          <div>{{odsData.description}}</div>
          <div>Meta Global</div>
          <div *ngFor="let item of odsData.odsGoals">
            <p>{{ item.order }} - {{ item.description }}</p>
          </div>
        </div>
        <div class="col-md-12 col-lg-5 col-xxxl-5">
          <div class="ods-icons">
            <img *ngFor="let i of odsNumbers" 
                  [src]="'assets/images/app/ODS/ODS-' + i + '.png'" 
                  [alt]="'ODS ' + i"
                  (click)="getOdsInfo(i)">
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
