<div class="container">
  <div class="align-content-center">
    <div class="row">
      <ng-container>
        <ngx-breadcrumb [breadcrumb]="breadcrumb"></ngx-breadcrumb>
        <div class="col-md-12 col-lg-12 col-xxxl-12" *ngIf="!loading">
          <div class="d-flex justify-content-end">
            <ngx-table-search (filtroPesquisaOutput)="filtroPesquisaOutputEvent($event)"></ngx-table-search>
            <div class="card-create-icon" [routerLink]="['new']">
              <i class="fas fa-plus-square"></i>
            </div>
          </div>

          <!-- Novo Template Recursivo -->
          <div class="container mt-2">
            <ng-container *ngFor="let management of managementList | async">
              <ng-container [ngTemplateOutlet]="managementTemplate" [ngTemplateOutletContext]="{ management: management }">
              </ng-container>
            </ng-container>
          </div>

          <ngx-pagination [paginacaoDadosInput]="paginacaoDados" (paginacaoOutput)="paginacaoOutputEvent($event)"></ngx-pagination>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<!-- Template Recursivo para Management -->
<ng-template #managementTemplate let-management="management">
  <div class="row p-1 mb-2 align-items-center management-card justify-content-between">
    <div class="col-sm-10 d-flex align-items-center gap-1">
      <button class="btn btn-sm btn-toggle mr-3" (click)="management.isExpanded = !management.isExpanded" [ngClass]="{ 'invisible-child': !management.organizerList?.length }">
        <i class="fas" [ngClass]="{ 'fa-chevron-right': !management.isExpanded, 'fa-chevron-down': management.isExpanded }"></i>
      </button>
      <div>
        <span class="fw-bold">Gestão Administrativa: </span>
        <span>{{ management.name }}</span>
      </div>
    </div>
    <div class="col-sm-1">
      <span [ngClass]="management.active ? 'text-success' : 'text-danger'">
        {{ management.active ? 'Ativo' : 'Inativo' }}
      </span>
    </div>
    <div class="col-sm-1 d-flex justify-content-end mt-0">
      <div ngbDropdown>
        <button class="btn button-color" ngbDropdownToggle>
          <i class="fas fa-ellipsis-h"></i>
        </button>
        <div ngbDropdownMenu>
          <button *ngIf="management.modelName?.length" ngbDropdownItem class="d-flex align-items-center" (click)="newOrganizer(management.id, management.name, management.modelName[0])">
            <i class="fas fa-plus-circle m-2"></i>
            <span>Criar {{ management.modelName && management.modelName.length ? management.modelName[0] : '' }}</span>
          </button>
          <button ngbDropdownItem class="d-flex align-items-center" (click)="editManagement(management)">
            <i class="fas fa-pen-square m-2"></i>
            <span>Editar</span>
          </button>
          <button ngbDropdownItem class="d-flex align-items-center" (click)="deleteManagement(management.id)">
            <i class="fas fa-trash-alt m-2"></i>
            <span>Excluir</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Lista de Organizadores (Expandível) -->
  <div *ngIf="management.isExpanded" class="children-card">
    <ng-container *ngFor="let organizer of management.organizerList">
      <ng-container [ngTemplateOutlet]="organizerTemplate" [ngTemplateOutletContext]="{ organizer: organizer, management: management, isChild: false }">
      </ng-container>
    </ng-container>
  </div>
</ng-template>

<ng-template #organizerTemplate let-organizer="organizer" let-management="management" let-isChild="isChild">
  <div class="row p-1 align-items-center organizer-card justify-content-between">
    <div class="col-sm-11 d-flex align-items-center gap-2">
      <!-- Botão para Expandir se houver filhos -->
      <button class="btn btn-sm btn-toggle mr-3" (click)="organizer.isExpanded = !organizer.isExpanded" 
              [ngClass]="{ 'invisible-child': (!organizer.children?.length && !organizer.challengeList?.length) }">
        <i class="fas" [ngClass]="{ 'fa-chevron-right': !organizer.isExpanded, 'fa-chevron-down': organizer.isExpanded }"></i>
      </button>
      <div>
        <span class="fw-bold">{{organizer.typeOrganizer}}: </span>
        <span>{{ organizer.nameOrganizer }}</span>
      </div>
    </div>

    <div class="col-sm-1 d-flex justify-content-end mt-0">
      <div ngbDropdown>
        <button class="btn button-color" ngbDropdownToggle>
          <i class="fas fa-ellipsis-h"></i>
        </button>
        <div ngbDropdownMenu>
          <button
            ngbDropdownItem 
            class="d-flex align-items-center" 
            (click)="newOrganizer(
                    management?.id, 
                    management?.name, 
                    management?.modelName?.includes(organizer.typeOrganizer) &&
                    (management.modelName.indexOf(organizer.typeOrganizer) + 1 < management.modelName.length) 
                      ? management.modelName[management.modelName.indexOf(organizer.typeOrganizer) + 1] 
                      : 'Desafio',
                    organizer.idOrganizer
                  )">
            <i class="fas fa-plus-circle m-2"></i>
            <span>
              Criar {{
                management?.modelName?.includes(organizer.typeOrganizer) &&
                (management.modelName.indexOf(organizer.typeOrganizer) + 1 < management.modelName.length) 
                  ? management.modelName[management.modelName.indexOf(organizer.typeOrganizer) + 1] 
                  : 'Desafio'
              }}
            </span>
          </button>
          <button ngbDropdownItem class="d-flex align-items-center" (click)="editOrganizer(organizer.idOrganizer)">
            <i class="fas fa-pen-square m-2"></i>
            <span>Editar</span>
          </button>
          <button ngbDropdownItem class="d-flex align-items-center" (click)="deleteOrganizer(organizer.idOrganizer)">
            <i class="fas fa-trash-alt m-2"></i>
            <span>Excluir</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Se o organizer tiver filhos, renderiza recursivamente -->
  <div *ngIf="organizer.isExpanded" class="children-card">
    <ng-container *ngFor="let child of organizer.children">
      <ng-container [ngTemplateOutlet]="organizerTemplate" [ngTemplateOutletContext]="{ organizer: child, management: management, isChild: true }">
      </ng-container>
    </ng-container>
  </div>

  <!-- Renderiza Challenges -->
  <div *ngIf="organizer.isExpanded && organizer.challengeList?.length > 0" class="children-card">
    <ng-container *ngFor="let challenge of organizer.challengeList">
      <ng-container [ngTemplateOutlet]="challengeTemplate" [ngTemplateOutletContext]="{ challenge: challenge }">
      </ng-container>
    </ng-container>
  </div>
</ng-template>

<!-- Template para Challenges -->
<ng-template #challengeTemplate let-challenge="challenge">
  <div class="row p-1 align-items-center challenge-card justify-content-between">
    <div class="col-sm-11 d-flex align-items-center gap-2">
      <div class="ml-5">
        <span class="fw-bold">Desafio: </span>
        <span>{{ challenge.name }}</span>
      </div>
    </div>
    <div class="col-sm-1 d-flex justify-content-end mt-0">
      <div ngbDropdown>
        <button class="btn button-color" ngbDropdownToggle>
          <i class="fas fa-ellipsis-h"></i>
        </button>
        <div ngbDropdownMenu>
          <button *ngIf="!isChild" ngbDropdownItem class="d-flex align-items-center" (click)="editChallenge(challenge.id)">
            <i class="fas fa-pen-square m-2"></i>
            <span>Editar</span>
          </button>
          <button ngbDropdownItem class="d-flex align-items-center" (click)="deleteChallenge(challenge.id)">
            <i class="fas fa-trash-alt m-2"></i>
            <span>Excluir</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>


