/* Bordas arredondadas e layout responsivo */
.container {
    max-width: 100%;
  }

  button[ngbDropdownToggle]::after {
    display: none;
  }
  
  
  .management-card {
    border-left: 4px solid #0098DA; 
    border-right: none; 
    border-top: 1px solid #0098DA; 
    border-bottom: 1px solid #0098DA; 
    border-radius: 5px 0 0 5px; 
    padding: 15px;
    margin-bottom: 10px;
  }

  .card-create-icon{
    i{
      color: #0098DA;
      width: 30px;
    }
  }
  
  .card-create-icon i {
    font-size: 2.5em;
    cursor: pointer;
    line-height: 1.1;
  }
  
  .fw-bold {
    color: #0098DA;
  }
  
  span {
    display: block;
    line-height: 1.5; 
  }
  
  .text-danger {
    color: red; 
  }
  
  .text-success {
    color: green; 
  }

  .dropdown-menu {
    min-width: auto; /* Dimensão mínima para o menu dropdown */
  }
  
  .dropdown-menu-end {
    right: 0;
    left: auto;
  }

  .menu-icon {
    background-color: #EDF1F7;
  }
  .menu-icon:hover {
    background-color: #E4E9F2; /* Cor de fundo ligeiramente mais escura ao passar o mouse */
    cursor: pointer;
  }
  
  @media (max-width: 991px) {
    .row {
      margin-bottom: 15px; /* Espaçamento entre os blocos em telas pequenas */
    }
    
    .text-end {
      text-align: left; /* Centraliza o texto à esquerda em telas pequenas */
    }
  }
  

