<div class="container"> 
  <div class="align-content-center">
    <div class="row">
      <ng-container>
        <div class="w-100">
          <ngx-breadcrumb [breadcrumb]="breadcrumb"></ngx-breadcrumb>
        </div>
        <div class="organizer-container">
          <p>
            <span>{{ managementInfo?.modelName }}</span>
          </p>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Nome</th>
                <th class="border-right-none">Descrição</th>
                <th>Ícone</th>
                <th>Ação</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="text" class="form-control" [(ngModel)]="newItem.name" placeholder="Nome"/></td>
                <td class="border-right-none"><textarea type="text" class="form-control" [(ngModel)]="newItem.description" placeholder="Descrição"></textarea></td>
                <td>
                  <div class="d-flex align-items-center ">
                    <div class="p-2 mr-1 card-icon">
                      <i  [class]="'fas ' + newItem.icon"></i>
                    </div>
                  <nb-select [(ngModel)]="newItem.icon" id="icon" class="w-100 d-block">
                    <nb-option value="">Selecione</nb-option>
                    <nb-option *ngFor="let icon of iconList" [value]="icon.value">
                      <div class="w-100"><i [class]="'fas ' + icon.value " class="icon-spacing"></i>{{ icon.label }}</div>
                    </nb-option>
                  </nb-select>
                  </div>
                </td>
                <td class="text-center">
                  <button class="btn btn-success btn-sm" (click)="addNewItem()">
                    <i class="fa fa-plus"></i>
                  </button>
                </td>
              </tr>
              <ng-container *ngFor="let item of organizerList">
                <ng-template [ngTemplateOutlet]="renderItem" [ngTemplateOutletContext]="{ item: item }"></ng-template>
              </ng-container>
            </tbody>
          </table>
          <ng-template #renderItem let-item="item">
            <tr class="first-item">
              <td>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="item.name"
                  placeholder="Nome"
                  [disabled]="!item.editable"
                  [class.is-invalid]="item.editable && !item.name" />
              </td>
              <td class="border-right-none">
                <textarea
                  type="text"
                  class="form-control"
                  [(ngModel)]="item.description"
                  placeholder="Descrição"
                  [disabled]="!item.editable"
                  [class.is-invalid]="item.editable && !item.description"></textarea>
              </td>
              <td>
                <div class="d-flex align-items-center ">
                    <div class="p-2 mr-1 card-icon">
                      <i  [class]="'fas ' + item.icon"></i>
                    </div>
                  <nb-select [(ngModel)]="item.icon" id="icon" class="w-100 d-block">
                    <nb-option value="">Selecione</nb-option>
                    <nb-option *ngFor="let icon of iconList" [value]="icon.value">
                      <div class="w-100"><i [class]="'fas ' + icon.value " class="icon-spacing"></i>{{ icon.label }}</div>
                    </nb-option>
                  </nb-select>
                </div>
              </td>
              <td class="text-center"> 
                <button
                  class="btn btn-primary btn-sm"
                  (click)="toggleEditable(item)"
                  [title]="item.editable ? 'Salvar' : 'Editar'">
                  <i class="fa" [ngClass]="item.editable ? 'fa-check' : 'fa-pencil-alt'"></i> 
                </button>
                <button
                  class="btn btn-danger btn-sm"
                  (click)="deleteItem(parent || organizerList, item)"
                  title="Excluir">
                  <i class="fa fa-trash"></i> 
                </button>
              </td>
            </tr>
          </ng-template>
          <div class="form-actions">
            <button
              type="button"
              class="btn btn-danger"
              (click)="onCancel()"
            >
              Cancelar
            </button>
            <button class="btn btn-primary" (click)="saveItems()">Salvar</button>
          </div>
        </div> 
      </ng-container> 
    </div>
  </div>
</div>
