<ngx-breadcrumb [breadcrumb]="breadcrumb"></ngx-breadcrumb>

<form [formGroup]="form">
  <!-- ========================= -->
  <!-- FICHA DO INDICADOR -->
  <!-- ========================= -->

  <nb-card>
    <nb-card-header> Ficha de Indicadores </nb-card-header>

    <nb-card-body>
      <div class="row">
        <div class="col-md-6">
          <label>Nome</label>
          <input
            nbInput
            fullWidth
            placeholder="Digite o nome"
            formControlName="name"
            [status]="
              form.get('name')?.invalid && submitted ? 'danger' : 'basic'
            "
          />
        </div>

        <div class="col-md-6">
          <label>Unidade de Medida</label>

          <nb-select
            fullWidth
            placeholder="Selecione uma unidade"
            formControlName="unit"
            [status]="
              form.get('unit')?.invalid && submitted ? 'danger' : 'basic'
            "
          >
            <nb-option *ngFor="let unit of units" [value]="unit">
              {{ unit }}
            </nb-option>

            <nb-option value="other">Outra</nb-option>
          </nb-select>

          <input
            *ngIf="form.get('unit')?.value === 'other'"
            nbInput
            fullWidth
            class="mt-2"
            placeholder="Digite a unidade"
            formControlName="customUnit"
          />
        </div>

        <div class="col-md-6 mt-3">
          <label>Polaridade</label>

          <nb-select
            fullWidth
            placeholder="Selecione"
            formControlName="polarity"
          >
            <nb-option value="Positiva">Positiva</nb-option>
            <nb-option value="Negativa">Negativa</nb-option>
          </nb-select>
        </div>

        <div class="col-md-6 mt-3">
          <label>ODS</label>

          <nb-select
            fullWidth
            multiple
            placeholder="Selecione"
            formControlName="ods"
          >
            <nb-option-group
              *ngFor="let ods of odsList"
              [title]="ods.order + ' - ' + ods.name"
            >
              <nb-option *ngFor="let goal of ods.odsGoals" [value]="goal.order">
                {{ goal.order }}
              </nb-option>
            </nb-option-group>
          </nb-select>
        </div>

        <div class="col-md-6 mt-3">
          <label>Justificativa da Base</label>

          <textarea
            nbInput
            fullWidth
            rows="3"
            formControlName="justificationBase"
            maxlength="2000"
          ></textarea>
        </div>

        <div class="col-md-6 mt-3">
          <label>Observações</label>

          <textarea
            nbInput
            fullWidth
            rows="3"
            formControlName="observations"
            maxlength="2000"
          ></textarea>
        </div>
      </div>
    </nb-card-body>
  </nb-card>

  <!-- ========================= -->
  <!-- DESAFIOS E ÓRGÃOS -->
  <!-- ========================= -->

  <nb-card class="mt-3">
    <nb-card-header> Desafios e Órgãos </nb-card-header>

    <nb-card-body>
      <div class="row">
        <div class="col-md-6">
          <label>Gestão</label>

          <nb-select
            fullWidth
            multiple
            placeholder="Selecione"
            formControlName="management"
          >
            <nb-option
              *ngFor="let management of challengeList"
              [value]="management.managementName"
            >
              {{ management.managementName }}
            </nb-option>
          </nb-select>
        </div>

        <div class="col-md-6">
          <label>Desafio</label>

          <nb-select
            fullWidth
            multiple
            placeholder="Selecione"
            formControlName="challenges"
          >
            <nb-option-group
              *ngFor="let organizer of filteredOrganizers"
              [title]="organizer.name"
            >
              <nb-option
                *ngFor="let challenge of organizer.challenges"
                [value]="challenge.uuId"
              >
                {{ challenge.name }}
              </nb-option>
            </nb-option-group>
          </nb-select>
        </div>
      </div>

      <div class="mt-4" *ngIf="challengesOrgans.controls.length">
        <div class="row fw-bold mb-2">
          <div class="col-md-6">Desafio</div>
          <div class="col-md-5">Órgão</div>
          <div class="col-md-1 text-center">Ação</div>
        </div>

        <ng-container
          *ngFor="let control of challengesOrgans.controls; let i = index"
        >
          <div class="row mb-2">
            <div class="col-md-6">
              <input
                nbInput
                fullWidth
                readonly
                [value]="
                  getChallengeNameById(control.get('challengeId')?.value)
                "
              />
            </div>

            <div class="col-md-5">
              <nb-select
                fullWidth
                placeholder="Selecione um órgão"
                [formControl]="control.get('organ')"
              >
                <nb-option
                  *ngFor="let organ of organizationAcronyms"
                  [value]="organ.sigla"
                >
                  {{ organ.sigla }} - {{ organ.nomeFantasia }}
                </nb-option>
              </nb-select>
            </div>

            <div class="col-md-1 text-center">
              <button
                nbButton
                size="small"
                status="danger"
                (click)="removeOrganRow(i)"
              >
                <nb-icon icon="trash-2-outline"></nb-icon>
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </nb-card-body>
  </nb-card>

  <!-- ========================= -->
  <!-- DADOS DE APURAÇÕES -->
  <!-- ========================= -->

  <nb-card class="mt-3">
    <nb-card-header> Dados de Apurações </nb-card-header>

    <nb-card-body>
      <!-- ESTADO VAZIO -->
      <div
        *ngIf="yearResultTargets.controls.length === 0"
        class="empty-apuracao"
      >
        <div class="empty-content">
          <nb-icon icon="clipboard-outline"></nb-icon>

          <h6>Nenhum período adicionado</h6>

          <p class="description-empty">
            Clique em "+ Adicionar" e escolha o ano e o tipo de periodicidade
          </p>
        </div>

        <div class="empty-actions">
          <button
            type="button"
            nbButton
            ghost
            status="primary"
            fullWidth
            [nbPopover]="addPeriodComponent"
            nbPopoverPlacement="top"
            nbPopoverTrigger="noop"
            #pop="nbPopover"
            (click)="pop.show()"
          >
            + Adicionar período
          </button>

          <button
            nbButton
            ghost
            status="info"
            class="btn-interval"
            (click)="openInterval()"
          >
            <nb-icon icon="flash-outline"></nb-icon>
            Intervalo
          </button>
        </div>
      </div>

      <!-- TABELA (QUANDO EXISTIR DADOS) -->
      <div *ngIf="yearResultTargets.controls.length > 0">
        <div class="row fw-bold mb-2">
          <div class="col-md-1 text-center">Ano</div>
          <div class="col-md-1 text-center">Meta</div>
          <div class="col-md-2 text-center">Meta Exibição</div>
          <div class="col-md-4">Justificativa</div>
          <div class="col-md-1 text-center">Resultado</div>
          <div class="col-md-2 text-center">Resultado Exibição</div>
          <div class="col-md-1 text-center">Ação</div>
        </div>

        <ng-container
          *ngFor="let control of yearResultTargets.controls; let i = index"
        >
          <div class="row mb-2">
            <div class="col-md-1">
              <nb-select
                fullWidth
                placeholder="Ano"
                [formControl]="control.get('year')"
              >
                <nb-option
                  *ngFor="let year of years"
                  [value]="year"
                  [disabled]="isYearAlreadySelected(year)"
                >
                  {{ year }}
                </nb-option>
              </nb-select>
            </div>

            <div class="col-md-1">
              <input
                nbInput
                fullWidth
                type="number"
                placeholder="Meta"
                [formControl]="control.get('target')"
              />
            </div>

            <div class="col-md-2">
              <input
                nbInput
                fullWidth
                placeholder="Exibição"
                [formControl]="control.get('showTarget')"
              />
            </div>

            <div class="col-md-4">
              <textarea
                nbInput
                fullWidth
                rows="1"
                placeholder="Justificativa"
                [formControl]="control.get('justificationGoal')"
                maxlength="500"
              ></textarea>

              <small>
                {{ (control.get("justificationGoal")?.value || "").length }} /
                500
              </small>
            </div>

            <div class="col-md-1">
              <input
                nbInput
                fullWidth
                type="number"
                placeholder="Resultado"
                [formControl]="control.get('result')"
              />
            </div>

            <div class="col-md-2">
              <input
                nbInput
                fullWidth
                placeholder="Exibição"
                [formControl]="control.get('showResult')"
              />
            </div>

            <div class="col-md-1 text-center">
              <button
                nbButton
                size="small"
                status="danger"
                (click)="removeYearRow(i)"
              >
                <nb-icon icon="trash-2-outline"></nb-icon>
              </button>
            </div>
          </div>
        </ng-container>

        <button
          nbButton
          ghost
          status="primary"
          class="mt-3"
          fullWidth
          (click)="openAddPeriod()"
        >
          + Adicionar período
        </button>
      </div>
    </nb-card-body>
  </nb-card>

  <!-- ========================= -->
  <!-- AÇÕES -->
  <!-- ========================= -->

  <nb-card class="mt-3">
    <nb-card-footer class="text-center">
      <div class="d-flex justify-content-between">
        <button nbButton status="basic" (click)="onCancel()">Cancelar</button>

        <button
          nbButton
          status="primary"
          (click)="onSubmit()"
          [nbSpinner]="isSubmitting"
          [disabled]="isSubmitting"
        >
          Salvar
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</form>
